.table {
  padding: 0;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table .header {
  display: flex;
  flex-direction: column;
  background-color: var(--section-background-hover);
}

.table .body {
  display: flex;
  flex-direction: column;
}

.table .row {
  display: flex;
  flex-direction: row;
}

.table .cell {
  padding: 8px;
  display: flex;
  align-items: center;
}

.table .cell:not(:first-child) {
  border-left: 1px solid var(--section-border);
}

.table .body .cell {
  border-top: 1px solid var(--section-border);
}

.table .cell,
.table .cell * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table .link {
  color: var(--main-text-color);
  text-decoration: none;
}

.table .hover-animation {
  transition: background-color ease 200ms;
}

.table .hover-animation:hover {
  background-color: var(--section-background-hover);
}

.dual-column {
  display: flex;
  flex-direction: row;
}

.dual-column > span {
  text-align: center;
}

.dual-column > :first-child {
  padding-right: 15px;
  border-right: 1px solid var(--section-border);
}

.dual-column > :last-child {
  padding-left: 16px;
}