:root {
  --font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

  --main-text-color: rgba(255, 255, 255, 0.87);
  --main-background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main-text-color);
  background-color: var(--main-background-color);

  --color-accent-0: rgba(184, 131, 234, 1);
  --color-accent-1: rgba(133, 131, 234, 1);

  --accent-icon-filter: invert(100%);

  --section-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

img {
  user-select: none;
}

body {
  margin: 0;
}

* {
  min-width: 0;
  min-height: 0;
}