.live {
  --main-text-color: black;
  --main-background-color: white;
}

.live {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  height: 100vh;
}

.live .button-component {
  color: var(--main-background-color);
}

.accent {
  background-image: url("/assets/backgrounds/main.png");
  --main-text-color: rgba(255, 255, 255, 0.87);
  color: var(--main-text-color);
}

.live>* {
  flex-grow: 1;
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.live .join-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  width: 330px;
}

.live .join-form * {
  font-size: 18pt;
}

.live .join-game .footer a {
  text-decoration: none;
}

/* .live .join-game .footer {
  display: flex;
  gap: 16px;
} */

.live .section {
  background-color: transparent;
  backdrop-filter: blur(8px);
}

.live .section.text-input-component {
  backdrop-filter: brightness(75%) blur(8px);
}

.live .join-form img {
  width: 96px;
  align-self: center;
}

.live .game-preview {
  display: flex;
  flex-direction: column;
  width: 330px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 16px;
}

.live .game-preview img {
  width: 96px;
}

.live .game-preview .title {
  font-size: 24pt;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.live .game-preview button {
  font-size: 18pt;
}

.live .host-game.waiting {
  display: grid;

  grid-template-columns: 128px 288px 1fr;
  grid-template-rows: 128px 1fr 64px;
  gap: 16px;

  justify-content: stretch;
  align-items: stretch;
}

.live .host-game.waiting>.player-count {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.live .host-game.waiting .number {
  font-weight: bold;
  font-size: 24pt;
}

.live .host-game.waiting .url {
  color: var(--color-accent-1);
  font-weight: bold;
}

.live .host-game.waiting .room-code .number {
  font-size: 36pt;
}

.live .host-game.waiting>.room-code {
  grid-row: 1;
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
}

.live .host-game.waiting>.loq-info {
  grid-row: -3;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.live .host-game.waiting>.loq-info .title {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.live .host-game.waiting>.loq-info .media {
  max-width: 100%;
}

.live .host-game.waiting>.loq-info .media.video {
  width: 100%;
}

.live .host-game.waiting>.loq-info .media img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.live .host-game.waiting>.loq-info .media iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  border: none;
}


.live .host-game.waiting>.start-button {
  grid-row: -2;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.live .host-game.waiting>.start-button>button {
  flex: 1 1 0;
  height: 100%;
  font-size: 18pt;
}

.live .host-game.waiting>.players {
  grid-row: 2 / -1;
  grid-column: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
  align-content: start;
  justify-content: center;
  padding: 16px;
  overflow-y: auto;
}

.live .host-game.waiting>.players>button {
  font-size: 12pt;
  padding: 12px;
  min-width: 96px;
  cursor: pointer;
}

.live .host-game.introduction {
  justify-content: center;
  gap: 24px;
}

.live .host-game.introduction .question-number {
  width: 494px;
  justify-content: center;
  font-size: 14pt;
}

.live .host-game.introduction .details {
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-width: 462px;
  max-width: min(974px, calc(100% - 256px));
  max-height: 600px;
  gap: 16px;
  align-items: center;
}

.live .host-game.introduction .title {
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  flex-shrink: 0;
}

.live .host-game.introduction .description {
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  flex-shrink: 0;
}

.live .title,
.live .description,
.live .answer-text {
  word-wrap: break-word;
}

.live .description.placeholder {
  font-size: 18pt;
  opacity: .6;
  font-style: italic;
}

.live .host-game.introduction .media {
  max-width: 100%;
  max-height: 512px;
  flex-shrink: 1;
}

.live .host-game.introduction .media img {
  max-width: 100%;
  border-radius: 12px;
  max-height: 100%;
}

.live .host-game.introduction .media iframe {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 16/9;
  border: transparent;
}

.live .host-game.introduction .progress {
  width: 512px;
  height: 40px;
  padding: 0;
  overflow: hidden;
}

.live .host-game.introduction .progress>div {
  backdrop-filter: brightness(2);
  height: 100%;
}

.live>.footer {
  flex-basis: 36px;
  flex-grow: 0;
  justify-content: center;
}

.live.host>.footer>div {
  font-size: 14pt;
}

.live.host .footer .number {
  font-weight: bold;
}

.live.host .footer .url {
  color: var(--color-accent-1);
  font-weight: bold;
}

.live.play .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.live.play .footer> :first-child {
  text-align: left;
}

.live.play .footer> :nth-child(2) {
  text-align: center;
}

.live.play .footer> :last-child {
  text-align: right;
}

.live .host-game.waiting.question {
  grid-template-columns: 272px 224px 1fr;
  grid-template-rows: 128px 48px 1fr 64px;
}

.live .host-game.waiting.question>.player-count {
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
}

.live .host-game.waiting.question>.player-count>* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 128px;
  width: 110px;
}

.live .host-game.waiting.question .title {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.live .host-game.waiting.question>.answers {
  display: flex;
  flex-direction: column;
  grid-row: 2 / -1;
  grid-column: 3;
  gap: 16px;
}

.live .host-game.waiting.question>.answers.open-ended {
  overflow-y: auto;
}

.live .host-game.waiting.question>.answers.open-ended>div {
  min-height: 96px;
}

.live .host-game.waiting.question>.answers>div {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.live .host-game.waiting.question>.answers>div>div {
  flex: 1 1 0;
  --main-text-color: rgba(255, 255, 255, 0.87);
  color: var(--main-text-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  transition: filter ease 200ms, opacity ease 200ms;
  filter: opacity(1);
  transform: scale(1);
}

.live .host-game.waiting.question>.answers>div>div>.icon-container {
  flex: 0 0 64px;
  height: 64px;
}

.live .host-game.waiting.question>.answers>div>div>.icon-container>img {
  width: 100%;
  height: 100%;
  filter: var(--accent-icon-filter);
}

.live .host-game.waiting.question>.answers>div>div>.answer-image {
  height: 100%;
  flex: 1 1 content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live .host-game.waiting.question>.answers>div>div>.answer-text~.answer-image {
  flex-grow: 0;
  margin:auto;
}

.live .host-game.waiting.question>.answers>div>div>.answer-image>img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
}

.live .host-game.waiting.question>.answers>div>div>.answer-text {
  flex: 1 1 auto;
  font-size: 18pt;
  text-align: center;
  min-width: auto;
}

.live .host-game.waiting.question>.answers>div>div>.answer-text:empty {
  display: none;
}

.live .host-game.waiting.question>.answers>div>div.incorrect {
  filter: opacity(.5);
  transform: scale(.9);
}

.live .host-game.waiting.question .question-number {
  grid-row: 2;
  grid-column: 1 / 3;
  justify-content: center;
  font-size: 14pt;
}

.live .host-game.waiting.question.results .title {
  grid-column-start: 1;
}

.live .host-game.waiting>.loq-info.user-answers {
  align-items: stretch;
  gap: 16px;
  padding: 16px;
}

.live .host-game.waiting>.loq-info.user-answers>div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex: 1 1 0;
}

.live .host-game.waiting>.loq-info.user-answers>div>div {
  display: flex;
  flex-direction: column;
  color: var(--accent-text-color);
  --main-text-color: rgba(255, 255, 255, 0.87);
  color: var(--main-text-color);
  flex: 1 1 0;
  align-items: center;
  padding-top: 0;
  padding-bottom: 16px;
}

.live .host-game.waiting>.loq-info.user-answers>div>div>.icon-container {
  flex: 0 0 64px;
  height: 64px;
}

.live .host-game.waiting>.loq-info.user-answers>div>div>.icon-container>img {
  width: 100%;
  height: 100%;
  filter: var(--accent-icon-filter);
}

.live .host-game.waiting>.loq-info.user-answers>div>div>.number {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.live .host-game.introduction .leaderboard-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  align-items: stretch;
  min-width: 510px;
  max-width: min(1022px, calc(100% - 208px));
}

.live .host-game .leaderboard-content>* {
  display: grid;
  grid-template-columns: 24px 1fr 96px;
  padding: 16px;
  flex: 0 0 82px;
  gap: 16px;
  color: var(--main-text-color);
  cursor: pointer;
}

.live .host-game .leaderboard-content>*> :first-child {
  place-self: center left;
  font-weight: bold;
  font-size: 14pt;
}

.live .host-game .leaderboard-content>*> :nth-child(2) {
  place-self: center left;
  font-size: 14pt;
}

.live .host-game .leaderboard-content>*> :nth-child(3) {
  place-self: center right;
  font-size: 14pt;

}

.live .host-game.leaderboard>button {
  font-size: 18pt;
  width: 512px;
  align-self: center;
}

.live .host-game .player-count>button {
  font-size: 12pt;
  cursor: pointer;
  flex: 1 0 128px;
}

.live .play-game.introduction>.details,
.live .play-game.introduction>.progress {
  width: min(512px, 100%);
  min-width: unset;
  max-width: unset;
}

.live .play-game.introduction>.details {
  width: min(462px, calc(100% - 50px));
}


.live .play-game.question {
  gap: 16px;
  justify-content: center;
}

.live .play-game.question>.answers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
  gap: 16px;
}

.live .play-game.question>.answers>div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 16px;
}

.live .play-game.question>.answers>div>button {
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.live .play-game.question>.answers>div>button.unselected {
  transform: scale(.9);
  opacity: .5;
}

.live .play-game.question>.answers>div>button>img {
  width: min(64px, 100%);
  height: min(64px, 100%);
  filter: var(--accent-icon-filter);
  pointer-events: none;
}

.live .play-game.question>.open-ended-input {
  width: min(488px, calc(100% - 24px));
  font-size: 18pt;
}

.live .play-game.question>.open-ended-submit {
  width: min(512px, 100%);
  align-self: center;
}

.live .play-game.question .answers.arrange {
  overflow: hidden;
}

.live .play-game.introduction>.details .subtitle {
  font-size: 12pt;
}

.live .play-game.introduction .leaderboard-content {
  width: min(462px, 100%);
  min-width: unset;
  max-width: unset;
}

.live .play-game .leaderboard-content.mini-leaderboard>* {
  flex-basis: 24px;
  cursor: unset;
}

.live .play-game .leaderboard-content.mini-leaderboard>*.small {
  transform: scale(.9);
}

@media (max-aspect-ratio: 1 / 1) {
  .live .play-game.question .answers.arrange>div {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .live.play .footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .live.play .footer> :first-child {
    display: none;
  }

  .live.play .footer> :nth-child(2) {
    text-align: left;
  }

  .live .play-game.introduction>.details {
    padding: 16px;
    width: min(462px, calc(100% - 32px));

  }

  .live .play-game.introduction>.details * {
    font-size: 24pt;
  }
}

.advanced-question-details {
  align-self: stretch;
}

.advanced-info-answer-list {
  display: flex;
  flex-direction: row;
  height: 48px;
  gap: 8px;
  align-items: center;
}

.advanced-info-answer-list>.advanced-info-answer {
  border-radius: 12px;
  padding: 8px;
  flex: 0 0 32px;
  height: 32px;

}

.advanced-info-answer-list>.advanced-info-answer>img {
  filter: var(--accent-icon-filter);
  height: 100%;
}

.advanced-info-answer-list.individual>span {
  margin-left: 8px;
}